@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ************************************************** */
/*                       HEADER                       */
/* ************************************************** */

header {
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
}

header h1 {
  font-size: 20px;
}

header h2 {
  font-size: 15px;
  margin-top: 10px;
}

/* ****************************************************** */
/*                       MAIN AREA                        */
/* ****************************************************** */

.container {
  margin-top: 85px;
  margin-bottom: 50px;

}

/* ****************************************************** */
/*                       NAVIGATION                       */
/* ****************************************************** */

nav {
  background-color: grey;
  width: 20%;
  height: 1000px;
  float: left;
  color: black;
}

.buttons {
  background-color: lightgrey;
  display: inline-block;
  margin: 5% 10%;
  height: 50px;
  width: 80%;
  text-align: center;

  font-family: Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 5px;

}

.buttons:hover {
  background-color: rgba(232, 232, 232, 0.5);
}

/* *************************************************** */
/*                       CONTENT                       */
/* *************************************************** */

.content {
  width: 80%;
  height: 1000px;
  float: right;
  color: black;
}

/* ************************************************** */
/*                       FOOTER                       */
/* ************************************************** */

footer {
  position:fixed;
  color: white;
  font-size: 10px;
  background-color:black;
  text-align: right;
  bottom:0px;
  left:0px;
  right:0px;
  padding: 20px 15px 20px 0;
}













/*


.colors-bold {
  display: block;
  font-weight: bold;
}










.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.purple {
  color: purple;
}

.light-steel-blue {
  color: lightsteelblue;
}

.pale-goldenrod {
  color: palegoldenrod;
}

.plum {
  color: plum;
}

.nav-button {
  text-decoration: none;
}

.left-panel a {
  color: black;
}

.left-panel a:visited {
  color: black;
}

a:hover {
  color: red;
}

.hex-red {
  color: #FF0000;
}

.lighter-hex-red {
  color: #ff7777;
}

#new-color {
  color: rgb(145, 54, 255);
}

#fully-opaque {
  background-color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 100px;
}

#seventy-five-opaque {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100px;
  height: 100px;
}

#fifty-opaque {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}

#twenty-five-opaque {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px;
}

#ten-opaque {
  background-color: rgba(0, 0, 0, 0.10);
  width: 100px;
  height: 100px;
}

#lh-1 {
  margin-left: 25px;
}

#lh-1point5 {
  line-height: 1.5;
  margin-left: 25px;
}

#lh-2 {
  line-height: 2;
  margin-left: 25px;
}

#lh-5 {
  line-height: 5;
  margin-left: 25px;
}

.four-values {
  border-radius: 10px 20px 30px 40px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.three-values {
  border-radius: 10px 20px 30px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.two-values {
  border-radius: 10px 20px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.one-value {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}*/
