@import url("https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P|VT323");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  position: fixed;
  top: 0; }

#title {
  font-size: 20px; }

#sub-title {
  font-size: 15px;
  padding-top: 10px; }

.container {
  margin-top: 85px;
  margin-bottom: 50px; }

nav {
  background-color: grey;
  width: 20%;
  min-height: 2000px;
  float: left;
  color: black; }

nav > a {
  border: rgba(108, 108, 108, 0.63) 1px solid;
  display: block;
  color: white;
  text-decoration: none; }

.buttons {
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  padding: 2% 0;
  display: block;
  text-align: center;
  border-radius: 5px; }

.buttons:hover {
  background-color: rgba(232, 232, 232, 0.5);
  color: rgba(0, 3, 255, 0.55); }

.content {
  width: 70%;
  float: left;
  color: black;
  padding-top: 20px;
  padding-left: 2%;
  margin-right: 7%; }

.content h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold; }

.content h2 {
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
  text-decoration: underline; }

.content h3 {
  font-size: 20px;
  font-style: italic;
  margin: 30px 0 10px 0; }

.content ul, ol {
  margin: 10px 0;
  font-size: 15px; }

.content p {
  font-style: normal;
  padding: 5px 0;
  font-size: 15px;
  line-height: 1.5; }

.kitties {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px black solid; }

.add-res {
  margin-top: 20px; }

footer {
  position: fixed;
  color: white;
  font-size: 10px;
  background-color: black;
  text-align: right;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 15px 10px 0; }

.border-list {
  padding-left: 20px; }

.four-values {
  border-radius: 10px 20px 30px 40px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px; }

.three-values {
  border-radius: 10px 20px 30px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px; }

.two-values {
  border-radius: 10px 20px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px; }

.one-value {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px; }

#lh-1 {
  margin-left: 25px; }

#lh-1point5 {
  line-height: 1.5;
  margin-left: 25px; }

#lh-2 {
  line-height: 2;
  margin-left: 25px; }

#lh-5 {
  line-height: 5;
  margin-left: 25px; }

.red {
  color: red; }

.blue {
  color: blue; }

.green {
  color: green; }

.orange {
  color: orange; }

.yellow {
  color: yellow; }

.purple {
  color: purple; }

.light-steel-blue {
  color: lightsteelblue; }

.pale-goldenrod {
  color: palegoldenrod; }

.plum {
  color: plum; }

.nav-button {
  text-decoration: none; }

.left-panel a {
  color: black; }

.left-panel a:visited {
  color: black; }

.hex-red {
  color: #FF0000; }

.lighter-hex-red {
  color: #ff7777; }

#new-color {
  color: #9136ff; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.change-box-color {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  background-color: red; }

.change-box-color:hover {
  background-color: blue; }

.css-transitions {
  font-weight: bold; }

.longer-box {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  background-color: red;
  transition: width 2s; }

.longer-box:hover {
  width: 400px; }

.code-img {
  margin: 5px 0;
  width: 200px; }

.make-my-monster-grow {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  background-color: red;
  transition: width 2s, height 2s, border-radius 2s, background-color 2s; }

.make-my-monster-grow {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: blue; }

.code-img-long {
  width: 500px; }

.example {
  margin-left: 20px; }

.types-of-variables {
  margin-left: 20px; }

ul {
  list-style: square; }

.chrome-variables {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px black solid; }

#fully-opaque {
  background-color: black;
  width: 100px;
  height: 100px; }

#seventy-five-opaque {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100px;
  height: 100px; }

#fifty-opaque {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px; }

#twenty-five-opaque {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px; }

#ten-opaque {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px; }

.note {
  font-weight: bold; }

.sample-text {
  padding-left: 20px; }

#vt323 {
  font-family: 'VT323', monospace;
  font-size: 20px; }

#press-start {
  font-family: 'Press Start 2P', cursive; }

#orbitron {
  font-family: 'Orbitron', sans-serif; }
