.border-list {
  padding-left: 20px;
}

.four-values {
  border-radius: 10px 20px 30px 40px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.three-values {
  border-radius: 10px 20px 30px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.two-values {
  border-radius: 10px 20px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}

.one-value {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
}
