header {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
}

#title {
  font-size: 20px;

}

#sub-title {
  font-size: 15px;
	padding-top: 10px;
}
