.example {
  margin-left: 20px;
}

.types-of-variables {
  margin-left:20px;
}

ul {
  list-style: square;
}

.chrome-variables {
  width: 75%;
  display: block;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 15px;
	border: 1px black solid;
}
