@import url('https://fonts.googleapis.com/css?family=VT323');

.note {
  font-weight: bold;
}

.sample-text {
  padding-left: 20px;
}

#vt323 {
  font-family: 'VT323', monospace;
  font-size: 20px;
}

#press-start {
  font-family: 'Press Start 2P', cursive;
}

#orbitron {
  font-family: 'Orbitron', sans-serif;
}
